<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/doc_common :: docHead"><title>BoardList</title></head>
<body class="h-screen flex my-14 justify-center" style="background: #edf2f7;">
<nav th:replace="fragments/doc_common :: docNav"></nav>
<div th:replace="fragments/doc_common :: docBody"></div>
<div class="w-10/12 mt-12">
    <div x-data="listElem()" class="relative mb-8 overflow-x-auto shadow-md sm:rounded-lg">
        <div class="flex justify-between p-4">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative mt-1">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                              clip-rule="evenodd"></path>
                    </svg>
                </div>
                <input type="text"
                       id="searchItemInfoOrIssue"
                       x-model="searchItemInfoOrIssue"
                       @keyup="getSearchList()"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-80 pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
            </div>
            <div class="mt-1">
                <button @click="goBoardRegist()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">New Issue</button>
                <button @click="exportExcel()"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Export</button>
            </div>
        </div>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 w-1/5">
                    Item Name
                </th>
                <th scope="col" class="px-6 py-3 w-1/5">
                    Item Code
                </th>
                <th scope="col" class="px-6 py-3 w-2/3">
                    Issue
                </th>
                <th scope="col" class="px-6 py-3 w-1/12">
                    CreatedAt
                </th>
                <th scope="col" class="px-6 py-3 w-1/12">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3 w-1/12">
                    <span class="sr-only">delete</span>
                </th>
            </tr>
            </thead>
            <tbody class="scrollable">
            <template x-for="(i, index) in boardList" :key="index">
            <tr class=" bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-3 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                    <span x-text="i.itemInfoDto.itemName" class="text-xs text-gray-700 font-bold overflow-hidden"></span>
                </th>
                <td class="px-6 py-3">
                    <span x-text="i.itemInfoDto.itemCode" class="text-xs text-gray-700 font-bold overflow-hidden"></span>
                </td>
                <td class="px-6 py-3">
                    <pre x-html="i.issue" class="text-xs text-gray-700 font-bold overflow-hidden"></pre>
                </td>
                <td class="px-6 py-3">
                    <span x-text="i.createdAtString" class="text-xs text-gray-700 font-bold"></span>
                </td>
                <td class="px-6 py-3 text-right">
                    <button @click="goBoradDeatil(i.id)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</button>
                </td>
                <td class="px-6 py-3 text-right">
                    <button @click="deleteBoard(i.id)" class="font-medium text-red-600 dark:text-red-500 hover:underline">delete</button>
                </td>
            </tr>
            </template>
            </tbody>
        </table>
        <div id="pagination" class="my-4 flex justify-center">
            <ul class="flex font-bold">
                <li @click="goPage(pageDto.pageNumber - 1)"
                    class="mx-1 px-3 py-2 bg-white rounded-lg"
                    :class="[ pageDto.showFirst ? 'cursor-not-allowed text-gray-500' : 'cursor-pointer text-gray-700 hover:bg-gray-200' ]"
                >
                    previous
                </li>
                <li x-show="!pageDto.showFirst"
                    @click="goPage(0)"
                    x-text="1"
                    class="mx-1 px-3 py-2 text-gray-700 cursor-pointer bg-white hover:bg-gray-200 rounded-lg"
                ></li>
                <li x-show="!pageDto.showFirst" class="mx-1 py-2 text-gray-700">...</li>
                <template x-for="i in pageDto.pages">
                    <li @click="goPage(i)"
                        x-text="i+1"
                        class="mx-1 px-3 py-2 text-gray-700 cursor-pointer hover:bg-gray-200 rounded-lg"
                        :class="[ i === pageDto.pageNumber ? 'bg-gray-200' : 'bg-white' ]"
                    ></li>
                </template>
                <li x-show="!pageDto.showLast" class="mx-1 py-2 text-gray-700">...</li>
                <template x-if="!pageDto.showLast">
                    <li @click="goPage(pageDto.totalPages-1)"
                        x-text="pageDto.totalPages"
                        class="mx-1 px-3 py-2 text-gray-700 cursor-pointer bg-white hover:bg-gray-200 rounded-lg"
                    ></li>
                </template>
                <li @click="goPage(pageDto.pageNumber + 1)"
                    class="mx-1 px-3 py-2 bg-white rounded-lg"
                    :class="[ pageDto.showLast ? 'cursor-not-allowed text-gray-500' : 'cursor-pointer text-gray-700 hover:bg-gray-200' ]"
                >
                    Next
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="/js/boardList.js"></script>
<script src="/js/common-api.js"></script>
</html>